<html>
	<head>
		<base href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/">

		<script src="webcomponentsjs/webcomponents-lite.min.js"></script>

		<link rel="import" href="polymer/polymer.html">
		<link rel="import" href="iron-icons/iron-icons.html">
		<!--link rel="stylesheet" type="text/css"  href="assets/styles/salesforce-lightning-design-system-vf.min.css"></link-->

	</head>

	<style>

		.sf-element[disabled] *{
			cursor: not-allowed !important;
		}

	</style>

	<!--script>
		CheckBoxBehavior = {
			properties: {
				label: String,
				checked: {
					type: Boolean,
					value: false,
			        reflectToAttribute: true,
				},
				disabled:{
					type: Boolean,
					value: true,
					reflectToAttribute: true
				}
			},
			toggle: function(e){
				if(!this.disabled || !e){
					this.checked = !this.checked;
				}
			},
		}

		SfElementBehavior = {
			created: function(){
				this.classList.add('lds')
				this.classList.add('sf-element')
			},
			properties:{
				hidden:{
					type: Boolean,
					value: false,
					reflectToAttribute: true
				}
			}
		}

	</script>

	<dom-module id='sf-checkbox'>
		<template>
			<div class="slds-form-element lds">
			  <div class="slds-form-element__control">
			    <label class="slds-checkbox">
			      <input type="checkbox" on-tap="toggle" checked="[[checked]]" disabled="[[disabled]]"></input>
			      <span class="slds-checkbox--faux"></span>
			      <span class="slds-form-element__label slds-truncate">[[label]]</span>
			    </label>
			  </div>
			</div>			
		</template>

		<script>
		Polymer({
			is: 'sf-checkbox',
		    behaviors: [CheckBoxBehavior, SfElementBehavior]
		})
		</script>
	</dom-module>

	<dom-module id='sf-checkbox-simple'>
		<template on-tap='toggle'>
			<input name="checkbox" type="checkbox" checked="[[checked]]" disabled="[[disabled]]"></input>
    		<span class="slds-checkbox--faux" on-tap='toggle'>[[label]]</span>
		</template>
		<script>
		Polymer({
			is: 'sf-checkbox-simple',
		    behaviors: [CheckBoxBehavior,SfElementBehavior]
		})			
		</script>
	</dom-module>	


	<dom-module id='sf-checkbox-group'>
		<template>
			<fieldset class="slds-form-element">
				<legend class="slds-form-element__legend slds-form-element__label" >[[title]]</legend>
				<div class="slds-form-element__control">
					<div class="slds-checkbox--button-group">
						<template is="dom-repeat" items="[[options]]" as="option">
				    		<sf-checkbox-simple class="slds-button slds-checkbox--button" hidden="[[option.hidden]]" disabled="[[option.disabled]]" label="[[option.label]]" checked="[[option.checked]]"></sf-checkbox-simple>
						</template>		
			    	</div>
			    </div>
			</fieldset> 	
			<content></content>	
		</template>	
		<script>
			Polymer({
				is:'sf-checkbox-group',
				properties:{
					options:{
						type: Array,
						value: [{checked:true, label:'asd'},{label:'ww', disabled: true}]
					},
					title: String
				},
				behaviors: [SfElementBehavior]
			})

			setTimeout(function(){
				document.getElementsByTagName('sf-checkbox-group')[0].set('options.0.checked', false)
				document.getElementsByTagName('sf-checkbox-group')[0].set('options.0.hidden', true)
				document.getElementsByTagName('sf-checkbox-group')[0].push('options', {label:'poke'})
			},1000)
		</script>
	</dom-module-->

	<dom-module id = "slds-table-cell">
		<template>
			<content></content>	
			{{cell}}
		</template>
		<script type="text/javascript">
			addEventListener('WebComponentsReady', function() {

				Polymer({
					is: "slds-table-cell",

					properties:{
						template: Object,
						cell: Object
					},
					behaviors: [ Polymer.Templatizer ],

					ready: function(){
						console.log(this)
						if(this.template){
							this.templatize(this.template);
							var instance = this.stamp({cell: this.cell});
							Polymer.dom(this).appendChild(instance.root);
						}
					}

				})

			})
		</script>	
	</dom-module>


	<dom-module id = "slds-table-row">
		<template>
			<div class = "cells">
				<content select="slds-table-cell"></content>
			</div>
		</template>
		<script type="text/javascript">
			addEventListener('WebComponentsReady', function() {

				Polymer({
					is: "slds-table-row",

					properties:{
						template: Object,
						row: Object
					},
					behaviors: [ Polymer.Templatizer ],

					ready: function(){
						if(this.template){
							this.templatize(this.template);
							var instance = this.stamp({row: this.row});
							Polymer.dom(this).appendChild(instance.root);
						}
					}

				})

			})
		</script>	
	</dom-module>


	<dom-module id="slds-table">
		<template>
			<template is="dom-repeat" items = "[[displayData]]" as = "row">
				<slds-table-row row = "[[row]]" template = "[[rowTemplate]]">
					<template is="dom-repeat" items = "[[_toArray(row)]]" as = "cell">
						<slds-table-cell cell = "[[cell.value]]" template = "[[cellTemplate]]"></slds-table-cell>	
					</template>	
				</slds-table-row>
			</template>
			<content select = "slds-table-column"></content>
		</template>
		<script type="text/javascript">
		addEventListener('WebComponentsReady', function() {
			Polymer({
				is:'slds-table',
				properties:{
					data: Array,
					notify: true
				},
				behaviors: [ Polymer.Templatizer ],

				ready: function(){
					this.displayData = this.data
					console.log(Polymer.dom(this).querySelector('slds-table-column'))
				},

				_toArray: function(obj) {
		            return Object.keys(obj).map(function(key) {
		                return {
		                    name: key,
		                    value: obj[key]
		                };
		            });
		        }

			})

		})
		</script>
	</dom-module>

	<body>
			<sf-checkbox label="asd" checked></sf-checkbox>
			<sf-checkbox-group title="title" disabled></sf-checkbox-group>
			<slds-table data='[{"a":3, "b":1}, {"a":5, "b":4}]'>
				<slds-table-column title = "Hola">
					<slds-table-cell>hola {{row.a}}</slds-table-cell>
				</slds-table-column>
			</slds-table>
	</body>

</html>