<div class="slds-form-element">
  <div class="slds-form-element__control">
    <span class="slds-checkbox">
      <input type="checkbox" id="{{$ctrl.id}}" checked = "{{$ctrl.checked}}" />
      <label class="slds-checkbox__label" for="{{$ctrl.id}}">
        <span class="slds-checkbox--faux"></span>
        <span class="slds-form-element__label" ng-bind = "$ctrl.label"></span>
      </label>
    </span>
  </div>
</div>